<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Resenha Cultural</title>
    </head>
    <body>
        <h1>ViewStart</h1>
        @RenderBody()
    </body>
</html>
