@model Post


<label asp-for="Titulo"></label>

<input type="text" asp-for="Titulo" class="form-control" />
<span asp-validation-for="Titulo" ></span>

<label asp-for="Resumo"></label>
<textarea asp-for="Resumo" class="form-control" rows="6"></textarea>
<span asp-validation-for="Resumo"></span>

<label asp-for="Categoria"></label>
<input asp-for="Categoria" type="text" name="Categoria" class="form-control" />
<span asp-validation-for="Categoria"></span>