@model Blog.Models.Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<<<<<<< HEAD

=======
<html>
<head>
    <title>Novo Post</title>
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
>>>>>>> aula-3
    <form asp-controller="Post" asp-action="Adiciona" method="post">

        @Html.EditorForModel()

        <button type="submit">Cadastrar</button>

    </form>


    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script>
        $("input[name='Categoria']").autocomplete({
        source: function (request, response) {
                $.post(
                    "@Url.Action("CategoriaAutocomplete")",
                    { termo: request.term },
                    function (data) {
                        response(data);
                    });
            }
        });
    </script>

