<html>
    <body>
        <form action="/Post/Adiciona" method="post">
            <label for="titulo">Título</label>
            <input type="text" name="titulo" />

            <label for="resumo">Resumo</label>
            <input type="text" name="resumo" />

            <label for="categoria">Cateogria</label>
            <input type="text" name="categoria" />

            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>