@model Blog.Models.Post

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<html>
<head>
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>

    <form asp-controller="Post" asp-action="Atualiza" method="post">

        @Html.EditorForModel()

        <button type="submit">Cadastrar</button>
    </form>


    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>

    <script src="~/js/jquery.validate.unobtrusive.js"></script>

</body>
</html>