
@model Blog.Models.Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<label asp-for="Titulo"></label>

<input type="text" asp-for="Titulo" />
<span asp-validation-for="Titulo"></span>

<label asp-for="Resumo" for="resumo"></label>
<input asp-for="Resumo" type="text" />
<span asp-validation-for="Resumo"></span>

<label asp-for="Categoria"></label>
<input asp-for="Categoria" type="text" name="categoria" />
<span asp-validation-for="Categoria"></span>