@model IList<Post>

@if(ViewBag.Termo != null )
{
    <h3>Resultados para busca por: @ViewBag.Termo</h3>
}

@if (!Model.Any())
{
    <article>
        <p>Não há resultados</p>
    </article>
}

@foreach (var post in Model)
{
    <article>
        <h1>@post.Titulo</h1>
        <p>@post.Resumo</p>
    </article>
}

