<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administração - Resenha Cultural</title>
    <link href="~/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/css/estilo-admin.css" type="text/css" rel="stylesheet" />
    
</head>
<body>
    <partial name="MenuAdmin"/>
    <main>
        @RenderBody()
    </main>
    @RenderSection("Scripts", false)
</body>
</html>